name: gm_upper-build

on:
  push:
    paths:
      - ".github/workflows/gm_upper-build.yml"
      - "upper/**"
  workflow_dispatch: # manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: go version
